Host s0
  HostName 145.249.106.170
  IdentityFile ~/.ssh/s0_id_rsa
  User amnesia
  Port 2285
  BatchMode yes
  CheckHostIP yes
  # ForwardX11 yes

Host s1
  HostName 213.252.247.2
  IdentityFile ~/.ssh/s1_id_rsa
  User amnesia
  Port 2286
  BatchMode yes
  CheckHostIP yes

Host s2
  HostName 213.252.247.202
  IdentityFile ~/.ssh/s2_id_rsa
  User amnesia
  Port 2285
  BatchMode yes
  CheckHostIP yes
